In [2]:
# 튜플
t1 = ()
t1 = (1,)
t3 = (1,2,3)
t4 = 1,2,3 # 괄호()를 생략해도 무방하다.
print(type(t4))
print(t4)

<class 'tuple'>
(1, 2, 3)

In [3]:
t5 = ('a','b',('ab','cd'))

In [5]:
# 튜플 다루기
t1 = (1,2,'a','b')
t1[0]
t1[-1]

'b'