In [3]:
a = [1,2,1,2]
a
a[2]
type(a)

list

In [5]:
s1 = {1,2,1,2}  # set은 중복을 허용하지 않는다.
type(s1)

set

In [6]:
print(s1)

{1, 2}

In [7]:
s1 = set([1,2,3])  # list형 -> set형 변환
print(s1)

{1, 2, 3}

In [8]:
s2 = set("Hello")
print(s2)

{'l', 'e', 'o', 'H'}

In [12]:
# 세트(집합) 자료형의 특징
# set 자료형은 순서가 없다. 즉 인텍스 번호가 없으므로 저장된 값을 인텍싱으로 
# 접근하려면 리스트나 튜플로 변환한 후 해야 한다.
s1 = {1,2,3}
l1 = list(s1)
print(l1[2])

3

In [13]:
# 세트 자료형 활용하는 방법
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

# 교집합
s1 & s2

{4, 5, 6}

In [14]:
# 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# 차집합
s1 - s2
s1.difference(s2)

{1, 2, 3}

In [18]:
s2 - s1
s2.difference(s1)

{7, 8, 9}

In [20]:
# 세트 관련 함수들
# 값 1개 추가하기(add)
s1 = {1,2,3}
s1.add(4)
s1

{1, 2, 3, 4}

In [21]:
# 값 여러개 추가하기(update)
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [22]:
# 특정 값 제거하기(remove)
s1 = {1,2,3}
s1.remove(2)
s1

{1, 3}