In [1]:
# 숫자 자료형
# 정수형
a = 123
a = -178
a = 0

In [3]:
# 실수형
a = 1.2
a = -3.45
a = 4.24E10  # 4.24 x 10^10
a = 4.24E-10 # 4.24 x 10^-10

In [4]:
# 8진수와 16진수
a = 0o177
a = 0x8ff

In [7]:
# 숫자 자료형을 활용하기 위한 연산자
# 사칙연산
a = 3
b = 4
print(a+b)  # print() 함수는 내장함수로 표준출력장치(콘솔=모니터)에 내용을 표시한다.
print(a*b)
print(a/b)

7
12
0.75

In [8]:
# x의 y제곱을 나타내는 ** 연산자
print(a ** b)  # 3^4

81

In [10]:
# 나눗셈 후 나머지를 변환하는 % 연산자
print(7%3)
print(3%7)

1
3

In [12]:
# 나눗셈 후 소수점 아래자리를 버리는 // 연산자
print(7/4)
print(7//4) # 정수로 표시(리턴) 한다.

1.75
1

In [17]:
# 문자열 자료형
"Hello World"
'Python is fun'
"""Life is too short,
You need python."""
'''Life is too short,
You need python.'''
#print('''Life is too short,
#You need python.''')

'Life is too short,\nYou need python.'

In [20]:
# 문자열에 따옴표 포함시키져 변환에 할당
food = "Python's favorite food is perl."
print(food)

Python's favorite food is perl.

In [21]:
food = 'Python\'s favorite food is perl.'
print(food)

Python's favorite food is perl.

In [22]:
say = '"Python is very esay." he says.'

In [26]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때
multiline = "Life is too short. \nYou need \tpython"
print(multiline)

Life is too short.
You need 	python

In [29]:
multiline = '''Life is too short.
You need python'''
multiline

'Life is too short.\nYou need python'

In [30]:
# 문자열 연산하기
head = "Python"
tail = ' is fun!'
print( head + tail )

Python is fun!

In [32]:
num = 3
print(head + str(num))  
# java, "문자열" + 숫자 = "문자열", 예)"숫자" + 3 = "숫자3"
# pthon, "문자열" + "문자열"  = "문자열", 예) "숫자" + str(3) = "숫자3"

Python3

In [33]:
print(head * 2)

PythonPython

In [36]:
print("-"*50)
print("My program")
print("-"*50)

--------------------------------------------------
My program
--------------------------------------------------

In [41]:
# 문자열 인덱싱과 슬라이싱
a = "Life is too short, you need Python"
print(a[0])
print(a[12])
print(a[-1])
print(a[0:4])

L
s
n
Life

In [43]:
# 슬라이싱으로 문자열 나누기
a = "20010331Rain"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20010331
Rain

In [46]:
ssn = "19800803-2032824"
sex = ssn[9]
if sex == "1":
    print("남성")
else:
    print("여성")

여성

In [47]:
# 문자열 포매팅
print("I eat %d apples." %3)

I eat 3 apples.

In [50]:
number = 10  # 정수
day = "three"  # 문자열
print("I ate %d apples, so I was sick for %s day." %(number, day))

I ate 10 apples, so I was sick for three day.

In [5]:
number = 10
day = "three"
print("I ate {0} apples, so I was sick for {1} day.".format(day, day))

I ate three apples, so I was sick for three day.

In [6]:
# 문자열 관련 함수
# 문자 개수 세기(count)
a = "hobby"
print(a.count('b'))

2

In [16]:
# 위치 알려주기(find)
a = "Python is best choice."
print(a.find('b'))
print(a[10])
# print(a.index('k'))
print(a.find('k'))

10
b
-1

In [12]:
# 위치 알려주기(index)
a = "Life is too short"
print(a.index('t'))

8

In [13]:
print(a.index('k'))

ValueError: substring not found

In [20]:
# 문자열 삽입(join)
a = ","
print(" ".join("abcd"))

a b c d

In [21]:
a = 'hi'
print(a.upper())

HI

In [22]:
a = 'HI'
print(a.lower())

hi

In [23]:
# 양쪽 공백 지우기(strip)
a = ' hi '
print(a.strip())

hi

In [25]:
a = ' hi '
print(a.rstrip())

 hi

In [32]:
a = '$300.00'
print(a.strip('$'))

300.00

In [33]:
# 문자열 바꾸기(replace)
a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

In [34]:
# 문자열 나누기(split)
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [35]:
a = "a,b,c,d"  # csv (common sperate value)
print(a.split(","))

['a', 'b', 'c', 'd']

In [38]:
# 유니코드 (아스키 코드)
print(ord('a'))
print(ord('가'))

97
44032

In [41]:
print(chr(97))
print(chr(45132))

a
끌